* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 30em;
  max-height: 50em;
  overflow-y: auto;
  padding-bottom: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  font-weight: bold;
}

#title {
  color: rgb(44, 122, 211);
  font-weight: bold;
}

#cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.itemDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 28em;
  height: 5em;
}

.listItems {
  overflow-x: auto;
  max-width: 6em;
  max-height: 3.5em;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}

.images {
  width: 3.5em;
  height: 3.5em;
}

.remove {
  border-radius: 30%;
  background-color: rgb(133, 177, 228);
}

.price {
  color: red;
}
